# 
# The configuration file for survey connecting to indivo
#
#

# the Indivo Server
:indivo:
  # base path including protocol, host and port
  :server: http://localhost:8000
  :ui_server: http://localhost:8001

  # relative path to OAUTH, appended to iwp_path
  :oauth_request_token: /oauth/request_token
  :oauth_access_token: /oauth/access_token
  :oauth_authorize: /oauth/authorize

  # relative path to Indivo API, appended to iwp_path
  :api: 

  :consumer_auth:
    :consumer_key: survey
    :consumer_secret: surveysecret

  :survey_pha_email: surveys@apps.example.org
